<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<div class="list-group-item">
				<h2 strip-br="true" ng-class="{'empty-input': !state.name}" ui-turn-on="editNameModal">{{state.name}}</h2>
				<div style="width: 100%; text-align: center">
					<div id="container">
						<p style="white-space: pre-wrap">{{state.description}}</p>
						<div id="gradient"></div>
					</div>
					<a href="#/description">Fortsätt...</a>
				</div>
			</div>
		</div>
	</div>
</div>