<div class="scrollable saveload" ng-controller="SaveLoadCtrl">
    <div class="scrollable-content">
        <div class="section">
            <h2>Spara eller ladda</h2>
            <div style="margin: 20px 0 10px 0">
                <label>Nyckelord:</label>
                <input pu-elastic-input ng-model="state.keyword" placeholder="Exempel" />
            </div>
            <div>
                <button class="btn btn-primary" ng-click="save()">
                    Spara
                </button>
                <button class="btn btn-primary" ng-click="load()">
                    Ladda
                </button>
                <button class="btn btn-warning" ng-click="clear()">
                    Rensa/Skapa
                </button>
            </div>
        </div>
        <div class="section">
            <p>Under nyckelordet "Exempel" finns ett exempelblad som du kan ladda för att se hur karaktärsbladet fungerar.</p>
            <p>Ändringar sparas enbart lokalt om du inte klickar på spara.</p>
            <p class="visible-xs-inline">Du klicka på ikonen högst upp till höger för att få fram menyn.</p>
        </div>
    </div>
</div>

<div class="modal"
    ui-if='modalKeywordNotFound'
    ui-state='modalKeywordNotFound'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog"
        ui-outer-click="Ui.turnOff('modalKeywordNotFound')"
        ui-outer-click-if="Ui.active('modalKeywordNotFound')">
        <div class="modal-content">
            <div class="modal-body">
                Hittade inget spar på nyckelordet: {{state.keyword}}.
                <button class="close"
                ui-turn-off="modalKeywordNotFound">&times;</button>
            </div>
        </div>
    </div>
</div>

<div class="modal"
    ui-if='modalSaveSuccess'
    ui-state='modalSaveSuccess'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog"
        ui-outer-click="Ui.turnOff('modalSaveSuccess')"
        ui-outer-click-if="Ui.active('modalSaveSuccess')">
        <div class="modal-content">
            <div class="modal-body">
                Lyckades spara under nyckelordet: {{state.keyword}}.
                <button class="close"
                ui-turn-off="modalSaveSuccess">&times;</button>
            </div>
        </div>
    </div>
</div>